/* Custum properties*/
:root
{
    --blanco:  #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


html 
{
    font-size: 100%;
    color: var(--gris);
}

body
{
    font-size: 16px;
}

.titulo 
{
    text-align: center;
    font-size: 3.8rem;
    color:red ;
}

.titulo span
{
    font-size: 2rem;
    color: grey;
}

.navegacion-principal
{
    background-color: var(--secundario);
}

.contenedor 
{
    width: 50rem;
    /*una manera de poner los 4 margenes en 4 propiedades*/
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /*margin: 0 auto 0 auto; tomando las pocisiones de un reloj*/
    /*margin: 0 auto; el primer valor corresponde a top y bottom, y el segundo a left y right*/
}

.nav-bg
{
    background-color: var(--secundario);
}

.navegacion-principal 
{
    display: flex;
    justify-content: space-between; /*justify content es para filas y align-items es para columnas(flex-direction)*/
    font-size: 2rem;
    font-weight: bold; /*para poner en negritas*/
}

.navegacion-principal a
{
    padding-top: 1rem;
    color: var(--blanco);
    text-decoration: none;
}

.navegacion-principal a:hover
{
    background-color:var(--primario);
    color:var(--oscuro);
    
}