/* Custum properties*/
:root
{
    --blanco:  #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro:#9f9f9f;
}


html 
{
    font-size: 100%;
    box-sizing: border-box;
    /*hack para box model*/
}

*,*::before,*::after
{
    box-sizing: inherit;
    /*hack para box model*/
}

body
{
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisclaro) 0%, var(--blanco) 100%);
    
}

/*Tipografia*/
h1
{
    font-size: 3.8;
}

h2
{
    font-size: 2.8;
}

h3
{
    font-size: 1.8;
}

h1,h2,h3
{
    text-align: center;
    
}

.titulo 
{
    text-align: center;
    font-size: 3.8rem;
    color:black ;
}

.titulo span
{
    font-size: 2rem;
    color: grey;
}

.navegacion-principal
{
    background-color: var(--secundario);
}

.contenedor 
{
    max-width: 120rem;
    /*una manera de poner los 4 margenes en 4 propiedades
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;*/
    /*margin: 0 auto 0 auto; tomando las pocisiones de un reloj*/
    margin: 0 auto; /*el primer valor corresponde a top y bottom, y el segundo a left y right*/
}

.nav-bg
{
    background-color: var(--secundario);
}

.navegacion-principal 
{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /*justify content es para filas y align-items es para columnas(flex-direction)*/
    font-size: 2rem;
    font-weight: bold; /*para poner en negritas*/
}

@media (min-width: 768px) 
{
    .navegacion-principal
    {
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a
{
    padding-top: 1rem;
    color: var(--blanco);
    text-decoration: none;
}

.navegacion-principal a:hover
{
    background-color:var(--primario);
    color:var(--oscuro);
    
}

/*Tamaños recomendados para media query:
480px para dispositivos mobiles
768px para tablets
1140px para laptops
1400px para dispositivos mas grandes como monitores o TVs*/


body
{
    background-color: beige;

}

@media (min-width: 480px) 
{
body
{
    background-color: white;

}
}


@media (min-width: 768px) 
{
body
{
    background-color: white;

}
}

.hero 
{
    background-image: url(../image/Angel.jpg); 
    /* (../ es para regresar un nivel del directorio, la carpeta img esta fuera de styles.css) */
    background-repeat: no-repeat;
    /*En imagenes pequeñas suele repetirse y abarcar espacio de la pagina*/
    background-size: cover;
    /*sirve para cubrir la imagen con todo el tamaño*/
    height: 450px; /*Alto de la imagen*/
    position:relative;  /*Para manipular la posicion, el padre siempre debe ser relative*/
}
 .contenedor-hero
 {
    position: absolute; /*Para manipular la posicion, el hijo siempre debe de ser absoluto*/
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--blanco)

 }

 .contenedor p
 {
    color: var(--oscuro);
 }

 .contenedor-hero h2
 {
    color: var(--blanco);
 }

 .ubicacion
 {
    display: flex;
    align-items: flex-end;
 }


 .boton
 {
    background-color: var(--secundario); /*Color del boton*/
    color: var(--blanco); /*Color del texto*/
    padding: 1rem 3rem;
    margin-top: 3rem; /*Separacion superior*/
    font-size: 2rem; 
    text-decoration: none; /*Quitar el subrayado*/
    text-transform: uppercase; /*Uppercase convertir texto en mayusculas*/
    font-weight: bold; /*Poner texto en negritas*/
    border-radius: .5rem; /*redondear esquinas*/
    width: 90%; /*ancho del boton*/
    text-align: center; /*centrar texto del boton*/
    border: none; /*Esto afecta unicamente al boton de la etiqueta input*/
    
 }
 @media (min-width: 768px) 
 {
    .boton
    {
        width: auto;
    }
  
 }

 .boton :hover
 {
    cursor: pointer;
 }

 .sombra
 {
    margin-top: 2rem;
    box-shadow: 0px 7px 15px 0px rgba(112,112,112,1);
    -webkit-box-shadow: 0px 7px 15px 0px rgba(112,112,112,1); /*Motor para Google chrome*/
    -moz-box-shadow: 0px 7px 15px 0px rgba(112,112,112,1); /*Motor para Mozilla firefox*/
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;

 }

/*Servicios*/
@media (min-width: 768px) 
{
    .servicios
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
} 
.servicio
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Ajustar color y "negritas" del h3*/
.servicio h3
{
    color:var(--secundario);
    font-weight: normal;
}

.servicio p
{
    text-align: center;
    /*interlineado*/
    line-height: 2;
}
/*css grid en mis servicios*/
.servicio .icono
{
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Contacto*/
.formulario
{
    background-color: var(--gris);
    width: min(60rem, 100%);
    /*Ahorra el uso del media query. ¿Qué es más pequeño, 60 rem o el 100% del tamaño de la pantalla? */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset
{
    border: none;
}

.formulario legend
{
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color: var(--primario);
}

@media (min-width: 768px) 
{
    .contenedor-campos
    {
        display: grid;
        grid-template-columns: repeat(2,2fr);
        column-gap: 1rem;
        grid-template-rows: auto auto 20rem; /*darle el espacio de cada fila*/
    }
    /*nth-child significa el numero del hijo. el orden seria: nombre, telefono, correo y mensaje. Como requerimos modificar correo y mensaje, usaremos 3 y 4 en nth-child*/
    .campo:nth-child(3),
    .campo:nth-child(4)
    {
    /*Posiciona el elemento, "Que vaya de la columna 1 a la 3"*/
    grid-column:1/3;
    }
    
 
}

.campo label
{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block; /*Lograr que cada label tome todo el espacio disponible y este separado del input*/
}

.input-text
{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.campo-textarea
{
    height: 20rem; /*Hacer mas grande la altura de textarea*/
}

/*Utilidades*/
.w-sm-100
{
    width: 100%;
}

@media (min-width: 768px) 
{
    .w-sm-100
    {
        width: auto;
    }
}

.flex
{
    display: flex;
}

.alinear-derecha
{
    justify-content: flex-end;
}

.footer
{
    text-align: center;
}

/*Scroll Snab es una herramienta para controlar el desplazamiento de una página web*/